<%- include('partials/header') -%>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo" src="../imgs/3.jpg" alt="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Upload</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
          </li>
          <li>
            <a class="nav-link" href="/projects">Projects</a>
          </li>
          <li>
            <a class="nav-link" href="/startnew">Questionaire</a>
          </li>

        </ul>
        <!-- <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li> -->

        <form class="d-flex" role="search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button> -->
          <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </form>
      </div>
    </div>
  </nav>

  <h1 class="post-title">Voice transcriper</h1>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="post-col-6">
        <h2>
          Job Title: <%= post.title %>
        </h2>
        <h4>
          Question: <%= post.question %>
        </h4>
        <audio class="audio-fluid" src="<%= post.audio%>" controls></audio>

      </div>
      <div class="post-col-3 mt-5">

        <h4 class="note">Transcript automatically saved as seen below. You may edit text and save below.</h4>
        <form class="col-1" action="/post/updatePost/<%= post.id %>?_method=PUT" method="POST">

          <textarea name="transcript" rows="5" cols="50"><%= post.transcript %></textarea>


          <button class="save" type="submit">Save edited transcript</button>
        </form>


        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="delete">DELETE<i class="fa-solid fa-trash"></i></button>
        </form>




      </div>
    </div>
  </div>

  <script src="../audioTranscript/audio.js"></script>
  <%- include('partials/footer') -%>